<h3 class="card-title">{{ title }}</h3>
<div class="card border-dark border-4 flex-row mb-3" *ngFor="let quote of quotes; let i = index">
  <div class="col card-body">
    <p class="card-text">&#8220; {{ quote.text }} &#8221;</p>
    <p class="card-text">— {{ quote.author }}</p>
  </div>
  <div class="col-3 align-items-center pt-3 pr-0">
    <a [routerLink]="['/quotes/',quote.id,'edit']" class="mr-2">Edit</a>
    <button type="button" class="btn btn-danger" (click)="openCheckOutModal()">X</button>
  </div>
  <app-modal
    title="Are you sure?"
    [isOpen]="modalOpen"
    (close)="closeCheckoutModal()"
  >
    <div class="modal-body">
      <p>Do you want to delete this quote?</p>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-danger"
        (click)="closeCheckoutModal()"
      >Cancel</button>
      <button
        class="btn btn-success"
        (click)="deleteQuote(i)"
      >Delete</button>
    </div>
  </app-modal>
</div>
